*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
.page1{
    height: 100vh;
    width: 100%;
    background-color: #e3e3c4;
}
.page2{
   min-height: 100vh;
    width: 100%;
    background-color: #556043;
    padding: 5vw;
}
.page2 h1{
    color: #434b34;
    font-size: 4.5vw;
    line-height: 4.8vw;
    font-weight: 400;
    font-style: pp woodland;
    text-align: center;
}
.page2 h1 span{
    font-family: pp woodland;
}
.page3{
    height: 100vh;
    width: 100%;
    background-color: #e3e3c4;
}