*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'gilroy';
}
html,body{
width:100vw;
height:100vh;
}
.page1{
    background-color: rgb(55, 14, 187);
    width: 100%;
    height: 100%;
}
.page2{
    background-color: rgb(6, 82, 170);
    width: 100%;
    height: 100%;
}
.page3{
    background-color: rgb(4, 194, 208);
    width: 100%;
    height: 100%;
}
.page4{
    background-color: rgb(8, 216, 164);
    width: 100%;
    height: 100%;
}
.scroll-progress-container{
   
    border-radius: 5%;
    color: rgb(203, 199, 199);

}